@media only screen and (max-width: 768px) {
  /* Mobile Nabvar */
  nav {
    /* background-color: white; */
    z-index: 100 !important;
  }
  
  /* Mobile Content */
  .about,
  .projects,
  .contact {
    grid-template-columns: auto !important;
  }

  .content {
    margin-top: 8vw !important;
  }
  
  /* Mobile About */
  .my-bio {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  /* Mobile Projects */

  /* Mobile Conact */
}

html {
  scroll-behavior: smooth;
}

body {
  position: absolute;
}

/* Navbar */
nav {
  z-index: 0;
  position: fixed;
  left: 10px;
  right: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

nav .line {
  border-top: 1px solid black;
  transition: all 1200ms cubic-bezier(0.23, 1, 0.32, 1);
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-family: 'Arimo', sans-serif;
}

/* Content */
.content {
  display: grid;
  margin-top: 6vw;
  margin-bottom: 6vw;
  width: 100vw;
  place-items: center;
}

.about,
.projects,
.contact {
  display: grid;
  z-index: 1;
  min-width: 85vw;
  max-width: 85vw;
  min-height: 80vh;
  font-family: 'Arimo', sans-serif;
  place-items: center;
}

/* About */
.about {
  background-color: lightblue;
  grid-template-columns: 1fr 1fr;
}

.my-picture {
  margin: 1em;
  width: 75%;
  opacity: 0.7;
  height: auto;
}

.greeting {
  height: 1em;
}

.my-bio {
  margin: 4vw;
  font-size: 0.85rem;
}
.my-bio ::selection {
  color: lightblue;
  background-color: white;
}

/* Projects */
.projects {
  background-color:lightgreen;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Contact */
.contact {
  background-color :lightyellow;
  grid-template-columns: 1fr;
}

#contact-form {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#contact-form 
#name,
#email,
#message,
#submit {
  font-family: 'Arimo', sans-serif;
  font-size: 0.8em;
  width: 60vw;
  border: none;
  resize: none;
  padding: 1em;
  margin: 0.5em;
}

input:invalid,
textarea:invalid {
  box-shadow: none;
}

/*  */